In [5]:
# To plot the graphs in the notebook itself
%matplotlib inline

In [6]:
import pandas as pd  # To read our dataset into a DataFrame
import seaborn as sns # To plot our graphs

In [7]:
# Converts csv into DataFrame and stored
marvel = pd.read_csv('datasets/marvel-wikia-data.csv')
dc = pd.read_csv('datasets/dc-wikia-data.csv')

In [8]:
marvel.head()  # Displays the first 5 entries in our dataset if the brackets are empty

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0

In [9]:
# Drop the rows which have empty values in Name or Year
marvel_clean=marvel.dropna(subset=['name', 'Year'])
dc_clean=dc.dropna(subset=['name', 'Year'])

In [10]:
# Calculate the number of characters created in each year, and plots the graph
def yearPlot(data):  # data takes in the required dataset we will pass
    dictionary = {}  # Store the frequency in a { key: value } format
    years = data['Year'] # Extract all the years from the data
    
    # To iterate over every year we have, we use the 'for' loop
    for year in years:  # translates to - for each year in our list of years
        if year in dictionary: # if the year is already present in our dicitionary
            dictionary[year] = dictionary[year] + 1  # Increase the exisiting frequency by 1
        else:  # if the year is NOT present in our dicitionary
            dictionary[year] = 1  # We start its count by 1
            
    # Our dictionary now looks like this -> {1941: 12, 1942: 3, ..... , 2012: 9}
    
    # To generate our X and y for plotting, we initalise empty lists
    X = []
    y = []
    
    # for the keys and values in our dictionary
    for key, val in dictionary.items():
        X.append(key)  # Store the key(year) in X
        y.append(val)  # Store the value(number of characters made in that particular year) in y
        
    # Plot our X and y
    sns.lineplot(X, y)

In [11]:
# Plot graph for Marvel
yearPlot(marvel_clean)

NameError: name 'x' is not defined

In [ ]:
# Plot graph for DC
yearPlot(dc_clean)