In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
marvel = pd.read_csv('datasets/marvel-wikia-data.csv')
dc = pd.read_csv('datasets/dc-wikia-data.csv')

In [16]:
marvel.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0

In [10]:
marvel_clean=marvel.dropna(subset=['name', 'Year'])
dc_clean=dc.dropna(subset=['name', 'YEAR'])

In [18]:
def yearPlot(data):    
    dictionary = {}
    X = data['Year']
    for x in X:
        if x in dictionary:
            dictionary[x] = dictionary[x] + 1
        else:
            dictionary[x] = 1

    X = []
    y = []
    for key, val in dictionary.items():
        X.append(key)
        y.append(val)
    sns.lineplot(X, y)

SyntaxError: invalid syntax (<ipython-input-18-074a4e5be9a9>, line 1)

In [19]:
yearPlot(marvel_clean)

NameError: name 'yearPlot' is not defined